.list-cell:filled:hover {
    -fx-background-color: #2ecc71;
    -fx-cursor: hand;
}
.imagesListView .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#300 0%, #700 25%, #a00 75%, #e00 100%);
    -fx-test-fill: white;
    -fx-text-fill: green;
}

.imagesListView .list-cell:filled:selected .dateLabel {
    -fx-text-fill: white;
}

.imagesListView .list-cell:filled:selected .photoNameLabel {
    -fx-text-fill: white;
}

.imagesListView .list-cell:filled:selected:hover {
    -fx-background-color: linear-gradient(#300 0%, #700 25%, #a00 75%, #e00 100%);
    -fx-text-fill: white;
    -fx-cursor: pointer;
}

.list-cell:odd { -fx-background-color: #90caf9; }
.list-cell:even { -fx-background-color: #97aabd; }


.imagesListView:focused {
    -fx-background-color: transparent;
}

.sorting {
    -fx-background-color: #2ecc71;
    -fx-background-radius: 0;
}

.combo-box .list-cell
{
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 2em;
    -fx-background-color: #2ecc71;
}

.combo-box-popup .list-view
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:odd {
    -fx-background-color: #190061;
}

.combo-box-popup .list-view .list-cell:even {
    -fx-background-color: #3500d3;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #2ecc71;
    -fx-text-fill: black;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
    -fx-background-color: #2ecc71;
}

.combo-box-base:focused {
    -fx-background-color: #2ecc71;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

/*  SCROLL BAR  */

.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.images-search {
    -fx-border: 0;
    -fx-background-color: none;
    -fx-display: block;
    -fx-text-align: left;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #2ecc71;
    -fx-focus-color: none;
    -fx-text-fill: white;
}