.canvas {
    -fx-font-family: "Tahoma";
    -fx-background: #34495e;
}

.toolbar {
    -fx-background-color: linear-gradient(from 50% 50% to 100% 100%, #009688, #4caf50);
}

.menu-button {
    -fx-background-color: #2ecc71;
    -fx-background-radius: 5px;
}

.menu-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.context-menu {
    -fx-background-color: #2ecc71;
}

.menu-item:focused {
    -fx-background-color: #34493e;
    -fx-text-fill: white;
}

.buttons {
    -fx-background-color: #2ecc71;
    -fx-background-radius: 5px;
}

.buttons:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.combo-box-nn {
    -fx-background-color: #2ecc71;
    -fx-background-radius: 5px;
}

.combo-box-nn:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.combo-box-popup .list-cell {
    -fx-background-color: #2ecc71;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #34493e;
}

.username {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
    -fx-background-radius: 3px;
}

.photo-name {
    /*-fx-text-fill: linear-gradient(from 50% 50% to 100% 100%, #66a688, #66a6ee);*/
    -fx-text-fill: #66a6ee;
    -fx-font: 16px "Serif";
}

.settings-dialog {
    -fx-border-color: black;
    -fx-background-color: lightgreen;
}

.settings-dialog .label {
    -fx-text-fill: #34495e;
    -fx-font: 16px "Serif";
}

.settings-dialog .text-field {
    -fx-border: 0;
    -fx-background: none;
    -fx-display: block;
    -fx-margin-top: 20px;
    -fx-text-align: center;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #3498db;
    -fx-padding: 7px 5px;
    -fx-focus-color: none;
    -fx-text-fill: black;
    -fx-border-radius: 4px;
}

.settings-dialog .text-field:focused {
    -fx-border-color: #2ecc71;
}

.settings-dialog .change-button {
    -fx-border: 0;
    -fx-background: none;
    -fx-display: block;
    -fx-margin-top: 20px;
    -fx-text-align: center;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #2ecc71;
    -fx-focus-color: none;
    -fx-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 6px;
    -fx-cursor: hand;
}

.settings-dialog .change-button:hover {
    -fx-background-color: #2ecc71;
    -fx-background-radius: 6px;
    -fx-text-fill: white;
}

.settings-dialog .exit-button {
    -fx-border: 0;
    -fx-background: none;
    -fx-display: block;
    -fx-text-align: center;
    -fx-focus-color: none;
    -fx-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 50%;
    -fx-cursor: hand;
}

.settings-dialog .exit-button:hover {
    -fx-background-color: #34495e;
    -fx-background-radius: 50%;
    -fx-text-fill: white;
}