.canvas {
    -fx-font-family: sans-serif;
    -fx-background: #34495e;
}
.form {
    -fx-width: 400px;
    -fx-height: 40px;
    -fx-position: absolute;
    -fx-top: 50%;
    -fx-left: 50%;
    -fx-text-align: center;
}

.form .text-field {
    -fx-border: 0;
    -fx-background: none;
    -fx-display: block;
    -fx-margin-top: 20px;
    -fx-test-align: center;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #3498db;
    -fx-padding: 14px 10px;
    -fx-width: 400px;
    -fx-focus-color: none;
    -fx-text-fill: white;
    -fx-border-radius: 24px;
    -fx-transition: 0.25s;
}

.form .wrong-alert {
    -fx-border-color: #f44336;
}

.form .text-field:focused {
    -fx-border-color: #2ecc71;
}

.form .register-button {
    -fx-border: 0;
    -fx-background: none;
    -fx-display: block;
    -fx-margin-top: 20px;
    -fx-test-align: center;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #2ecc71;
    -fx-padding: 14px 40px;
    -fx-focus-color: none;
    -fx-color: white;
    -fx-text-fill: white;
    -fx-border-radius: 24px;
    -fx-transition: 0.25s;
    -fx-cursor: hand;
}

.form .register-button:hover {
    -fx-background-color: #2ecc71;
    -fx-background-radius: 24px;
}

.reconnect-button {
    -fx-border: 0;
    -fx-background: none;
    -fx-display: block;
    -fx-text-align: center;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: red;
    -fx-focus-color: none;
    -fx-text-fill: black;
    -fx-border-radius: 6px;
    -fx-cursor: hand;
}

.reconnect-button:hover {
    -fx-background-color: red;
    -fx-background-radius: 6px;
}